@page "/DemoHotel"
@using Model

<h3 class="bg-light border p-2">Demo Hotel</h3>

<div class="bg-light ">
    <h1 class="text-primary text-center">Room List</h1>
    <h4>Rooms Seleted - @SelectedRooms</h4>
    <div class="row">
        @foreach (var room in RoomsList)
        {
            <IndividualRoom Room="@room" OnRoomCheckboxSelection="RoomSelectionCounterChanged"></IndividualRoom>
        }
    </div>
    <h4>Hotel Amenities </h4>
    <div class="row m-4">
        @foreach (var amenities in Amenities)
        {
            <IndividualAmenities Amenities="@amenities"></IndividualAmenities>
        }
    </div>
</div>

@code {

    public int SelectedRooms { get; set; } = 0;
    List<BlazorRoom> RoomsList = new List<BlazorRoom>();
    List<BlazorHotelAmenities> Amenities = new List<BlazorHotelAmenities>();


    protected void RoomSelectionCounterChanged(bool isRoomSelected)
    {
        if (isRoomSelected)
        {
            SelectedRooms++;
        }
        else
        {
            SelectedRooms--;
        }
    }

    protected override void OnInitialized()
    {
        RoomsList.Add(new BlazorRoom()
        {
            Id = 110,
            RoomName = "Villa one bedroom",
            IsActive = true,
            Price = 299,
            RoomProps = new List<BlazorRoomProp>
    {
            new BlazorRoomProp{Id=1,Name="Sq Ft",Value="100"},
            new BlazorRoomProp{Id=2,Name="Occupancy",Value="1"}
        }
        });

        RoomsList.Add(new BlazorRoom()
        {
            Id = 210,
            RoomName = "Villa Balcany",
            IsActive = true,
            Price = 499,
            RoomProps = new List<BlazorRoomProp>
    {
            new BlazorRoomProp{Id=1,Name="Sq Ft",Value="300"},
            new BlazorRoomProp{Id=2,Name="Occupancy",Value="3"}
        }
        });

        Amenities.Add(new BlazorHotelAmenities()
        {
            Id = 25,
            Name = "Gym",
            Description= "24 hour gym with jaccuzi and hot bath"
        });



    }
}
